.main-box{
    width: 700px;
    height: 700px;
    border: 2px solid black;
    display: flex;
    
     /* 
    Other values for justify-content property:
    justify-content: space-between;
    justify-content: space-around;
    justify-content: space-evenly; 
    justify-content: flex-start;
    justify-content: flex-end*/
    justify-content: center;

     /* 
    Other values for flex-direction property:
    flex-direction: row-reverse;
    flex-direction: column;
    flex-direction: column-reverse; */

    flex-direction: row;

     /* 
    Other values for align-items property:
    align-items: flex-start;
    align-items: flex-end; */
    align-items: center;

    /*position multiple elements in container*/
    /* align-content: space-between;
    flex-wrap: wrap; */
 
   
}
.box{
    width: 250px;
    height: 100px;
    background-color: blue;
}

.box-1 {
    background-color: red;
    /* position first element inside the container*/
    align-self: flex-start;
}

.box-2 {
    background-color: blue;
     /* position second element inside the container*/
    align-self: center;
}
.box-3 {
    background-color: green;
    /* position third element inside the container*/
    align-self: flex-end;
}


.box-4{
    background-color: brown;
}

.box-5 {
    background-color: aquamarine;
}

.box-6{
    background-color: cornflowerblue;
}

