section {
    padding: 20px
}

li:first-child {
    font-size: 30px;
    color: red
}

li:last-child {
    font-size: 50px;
    color: blue;
}

li:nth-child(2) {
    font-weight: 900;
    color: green
}

li:nth-child(3) {
    font-weight: 100;
    font-style: italic;
}

a:first-of-type {
    font-size: 50px;
}
a:last-of-type {
    font-size: 30px;
}

a:empty {
    color: brown;
}

article::first-letter{
    font-weight: 300;
    color: red
}
/* .testFirstLine {
    width: 300px;
    height: 300px;
} */
div.testFirstLine::first-line {
    color:red
}

div.beforeAfter::before {
    content: 'BEFORE WITH CSS';
    color: blue;
    font-size: 30px;
}

div.beforeAfter::after {
    content: 'AFTER WITH CSS';
    color: red;
    font-size: 40px;
}