@font-face {
    font-family: MainFont;
    src: url(fonts/fanlste.otf);
}

p.testFontFace {
    font-family: MainFont;
}

@font-face {
    font-family: SecondFont;
    src: url(fonts/Callheart.otf);
}

p.secondFont {
    font-family: SecondFont;
}

p {
    font-size: 30px;
    color: darkcyan
}

section {
    border-bottom: 3px solid blueviolet;
    padding: 20px;
}

h1 {
    font-family: MainFont;
    color:blueviolet;
}

body{
    padding: 20px
}

div.box1 {
    border: 3px solid blue;
    /* border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px; */

    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
section.border:hover {
    background-color: blue;
}
h3 {
    color: blue;
    text-align: center;
}
h3:hover {
    color: white
}
.boxShadow {
    border: 3px solid red;
    box-shadow: grey 10px 10px 10px 10px; 
}

.textShadow {
    font-size: 20px;
    text-shadow: grey 5px 10px;
}

.backgrounds {
    width: 100%;
    height: 100%;
}

.box {
    width: 500px;
    height: 400px;
    background: 
        url('images/image1.jpg') 0 0 no-repeat, /* First background image */
        url('images/image2.jpeg') 100% 0 no-repeat; /* Second background image */
    background-size: contain;
    /* Add any other styles you want for the box */
}

.transitionsBox{
    width: 50px;
    height: 50px;
    background-color: #000;
    border: red 2px solid;
    transition: all 2s ease-in-out 0.5s;
}
.transitionsBox:hover {
    width: 150px;
    background-color: #ff0000;
    border: black  2px solid;
    height: 150px;
}

.animationsBox {
    width: 100px;
    height:100px;
    background-color: red;
    /* animation-name: colorChange;
    animation-duration: 3s; */
    animation: colorChange 10s ease 2s infinite 
    alternate none running;
    /* animation: widthChange 10s ease 2s infinite  alternate none running; */
}


@keyframes widthChange {
    from{width: 500px;}
    to {width: 30px;}
}
@keyframes colorChange {
    from {background-color: #ff0000;}
    to {background-color: green;}
}

#box {
    width: 500px;
    height: 500px;
    background-color:black;
}

@media screen and (min-width: 1000px) {
    #box {
        background-color: #ff0000;
    }
}

@media screen and (max-width: 500px) {
    #box {
        background-color: blue;
    }
}