.main-container {
    background-color: black;
    width: auto;
    display: grid;
    justify-content: center;
}

.image-1{
    background: url('./images/1.jpg') 0 0  no-repeat;
    background-size: contain;
    width: 200px;
    height: 200px;
    display: grid;
    grid-column: 1/2;
    grid-row: 1/2;
}
.image-2{
    background: url('./images/2.jpg') 0 0  no-repeat;
    background-size: contain;
    width: 200px;
    height: 200px;
    display: grid;
    grid-column: 1/2;
    grid-row: 3/4;

}
.image-3{
    background: url('./images/3.jpg')  no-repeat;
    background-size: contain;
    width: 200px;
    height: 200px;
    display: grid;
    grid-column: 3/4;
    grid-row: 3/4;
    }
.image-4{
    background: url('./images/4.jpg')  no-repeat;
    background-size: contain;
    width: 200px;
    height: 200px;
    display: grid;
    grid-column: 3/4;
    grid-row: 2/3;
}
.image-5{
    background: url('./images/5.jpg')  no-repeat;
    background-size: contain;
    width: 200px;
    height: 200px;
    display: grid;
    grid-column: 2/3;
    grid-row: 2/3;
}
.image-6{
    background: url('./images/6.jpg')   no-repeat;
    background-size: contain;
    width: 200px;
    height: 200px;
    display: grid;
    grid-column: 4/6;
    grid-row: 1/2;
}
.image-7{
    background: url('./images/7.jpeg')  no-repeat;
    background-size: contain;
    width: 200px;
    height: 200px;

}
.image{
    transition: 0.5s;
    background-color: white;
    opacity: 1;
    color: transparent;
    justify-content: center;
    align-items: center;
    font-size: 30px;

}
.image:hover{
    background-color: black;
    color:white;
    font-size: 50px;
}
