
.outer-container {
    width: 1000px;
    height: 1000px;
    border: 2px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
}


.main-container {
    width: 500px;
    height: 500px;
    border: 2px solid red;
    display: grid;
    grid-template-columns: 100px 100px 100px ;
    grid-template-rows: 150px 150px 150px ;
    column-gap: 20px;
    row-gap: 10px;
    justify-content: center;
    align-content: center;
    justify-items: end;
    align-items: center;
     /* place-items eshte shorthand per justify-items dhe align-item
    place-items: center / end; */
    
}

.item {
    width: 50px;
    height: 50px;
    background-color: black;   
}

.second-container {
    width: 400px;
    height: 400px;
    border: 2px solid black;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 50% 50%;
    justify-self: start;
}

.item-a{
    width: 100px;
    height: auto;
    background-color: red;
    justify-self: start;
}

.item-b{
    width: 150px;
    height: auto;
    background-color: blue;
    justify-self: center;

}

.item-c{
    width: 200px;
    height: auto;
    background-color: green;
    justify-self: end;

}

.item-d{
    justify-self: center;
    align-self: center;
}